@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');


body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: #092032;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: #092032;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #FF4D29;
}

section {
    padding-top: 50px;
    padding-bottom: 80px;
}
.parag{
    margin-top: 20px;
    background: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    transition: 0.5s;
}
.parag:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: #FF4D29 !important; 
}



 /* slide */
 .slide {
     min-height: 70vh;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/photo3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/photo2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

/* navbar */
.top-nav {
    background-color: #0D6EFD;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 18px;
}
.bx{
    margin: 10px;
    font-size: 20px;
}


.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: #FF4D29;
}

.navbar .navbar-nav .nav-link {
    color: #092032;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FF4D29;
}

.navbar .navbar-nav .nav-link.active {
    color: #FF4D29;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: #FF4D29;
    background-color: #FF4D29;
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}


footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../img/photo2.avif), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}


input.form-control {
    border-color: black;
    height: 44px;
}


textarea.form-control{
    border-color: black;
}

.form-control:focus {
    box-shadow: none;
    border-color: #FF4D29;
}